h{
    font-size-adjust: inherit;
}

{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Estilo padrão do corpo da página */
body {
    font-family: Arial, sans-serif;
    background-color: rgb(57, 239, 233);
}
/* Estilo para o cabeçalho da página */
header {
    background: rgb(251, 104, 63);
background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgb(0, 6, 43) 100%);
    text-align: center;grid-template-columns: max-content;
    padding: 20px;
    position: fixed; /* Torna o cabeçalho fixo na parte superior da tela. */
    top: 0; /* Define a posição superior como 0 para fixar o cabeçalho no topo. */
    width: 100%; /* Define a largura como 100% para ocupar toda a largura da tela. */
    z-index: 100; /* Define uma pilha de z-index para garantir que o cabeçalho esteja acima de outros elementos. */
}

#header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: rgb(235, 96, 72);
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    /* Adiciona margem superior para compensar a altura do cabeçalho fixo */
    /* Certifique-se de ajustar a altura de acordo com o tamanho do seu cabeçalho. */
    margin-top: 80px;
}

ul {
    list-style: none;
}

li {
    margin: 10px 0;
}

a {
    text-decoration: none;
    color: #49e80a;
}

.especial{
  
    color: #e40808;
}

.capa{
    
    width: 600px;
    border: 1px ;
    margin-left: auto;
    margin-right: auto;
}

.pecas{
    width: 300px;
    height: auto;
    border: 1px ;

}

.cartao{
    display: flex;
    justify-content: space-around;
}

.sla{
    width: 600px;
    height: auto;
    border: 1px;
}



